@mixin title {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 72px;
    line-height: 1.2;
    
    @media screen and(max-width:575px) {
        font-size: 62px;
      }   
      @media screen and(max-width:480px) {
        font-size: 56px;
      }   
      @media screen and(max-width:400px) {
        font-size: 48px;
      }   
      @media screen and(max-width:350px) {
        font-size: 46px;
      }   
}