<header>
  <div class="header__mask"></div>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <div
            class="header__logo d-flex justify-content-center align-items-center"
          >
            <img src="img/logo.svg" alt="logo" />
          </div>
          <div class="gap-5 d-flex align-items-center">
            <a
              class="header__phone d-flex align-items-center gap-2"
              href="tel:+380670099232"
              ><img src="img/phone-header.svg" alt="phone" />+38 067 009 92
              32</a
            >
            <div class="header__languages gap-3 d-flex">
              <a class="active" href="#">Ukr</a>
              <a href="#">Eng</a>
            </div>
            <div class="header__burger">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
