<header>
  <div class="header__mask"></div>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <a href="#"
            class="header__logo d-flex justify-content-center align-items-center"
          >
            <img src="img/logo.svg" alt="logo" />
          </a>
          <div class="gap-3 gap-md-5 d-flex align-items-center">
            <a
              class="header__phone d-flex align-items-center gap-2"
              href="tel:+380670099232"
              ><img src="img/phone-header.svg" alt="phone" /> <span class="d-none d-lg-block">+38 067 009 92
              32</span></a
            >
            <div class="header__languages gap-2 gap-md-3 d-flex">
              <a class="active" href="#">Ukr</a>
              <a href="#">Eng</a>
            </div>
            <div class="header__burger">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="header__burger_menu">
              <nav><ul>
                <li>
                  <a href="#">КВИТКИ</a>
                </li>
                <li>
                  <a href="#">ЯК ДОЇХАТИ</a>
                </li>
                <li>
                  <a href="#">АКЦІЇ ТА ЗНИЖКИ</a>
                </li>
                <li>
                  <a href="#">ЯК СТАТИ ПАТРОНОМ</a>
                </li>
                <li>
                  <a href="#map">3D КАРТА</a>
                </li>
                <li>
                  <a href="#">ПРАВИЛА ЗООПАРКУ</a>
                </li>
                <li>
                  <a href="#">ПУБЛІЧНА ОФЕРТА</a>
                </li>
              </ul></nav>
              <button class="header__burger_menu_button"><svg>
                <use href="#qrcode">
              </svg>Придбати квитки онлайн</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
